/* base */

html {
  font-size: 62.5%;
}


body {
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 2.0rem;
  color: #333333;
}

.section_subtitle ,.section_subtitle_message ,.card_title {
  font-size: 1.6rem;
  font-family: 'Noto Serif JP', serif;
  letter-spacing: 0.05rem;
}

img {
  max-width: 100%;
  /* height: auto; */
  vertical-align: bottom;
}

.section_title {
  margin: 140px 0 60px 0;
  position: relative;
  text-align: center;
  font-size: 3.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
}

/* header */

header {
  margin: 20px 220px;
  display: flex;
  line-height: 38px;
  align-items: center;
  justify-content: space-between;
}

.site_title {
  font-size: 3.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
}


.header_in_line {
  display: inline-block;
}
.nav_wrapper {
  width: 300px;
  height: 38px;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
}

.nav_item {
  padding-left: 50px;
  
}

.nav_wrapper_for_sp {
  display: none;
}

a {
  font-family: 'Times New Roman', Times, serif;
  color: #333333;
  text-decoration: none;
}

.nav_list a {
  font-style: italic;
}

.nav-wrapper_sp , .header_nav_sp,.nav-list_sp ,.nav-item_sp{
  display: none;
}

main {
  margin: auto;
}

/* bar_and_button */





/* fv */

.fv_wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.fv {
  background-image: url(../allie-smith-Qq_XfKNq2dE-unsplash.jpg);
  width: 1000px;
  height: 514px;
  background-size: cover;
}

.fv_sentence {
  position: absolute;
  font-family: Noto Serif JP;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 80px 251px;
}

.btn_trigger {
  display: none;
}


/* About */

.section_wrapper {
  max-width: 1000px;
  padding-bottom: 140px;
  margin: 0 auto;
}

.img_about_gelato {
  vertical-align: middle;
  flex-basis: 32%;
}

.about_jelato {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 60px 0;
}

.section_inner {
  padding-left: 60px;
  flex-basis: 62%;
  align-items: center;
}

.section_inner_menu {
  width: 1000px;
  margin: 0 auto;
}
.section_subtitle {
  padding-bottom: 20px;
  font-family: Noto Serif JP;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1.05;
}

.img_about_Italy {
  width: 32%;
  height: auto;
  vertical-align: middle;
  margin: 0;
}

.story_Italy {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 60px 0;
}

.section_inner_Italy {
  justify-content: flex-end;
  padding-right: 60px;
  flex-basis: 62%;
  align-items: center;
}

.message {
  margin: 60px 0;
}

.section_subtitle_message {
  text-align: center;
  padding-bottom: 20px;
  font-family: Noto Serif JP;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1.05;
}






/* menu */

.menu {
  max-width: 1400px;
  background-color: rgba(228, 214,177, 0.3);
  z-index: 0;
  padding: 10px 80px 80px 80px;
  margin: 0 auto;
}


.img_menu {
  display: inline-block;
}

.card_item {
  list-style: none;
  flex-basis: 28%;
}

.card_title {
  padding: 20px 0;
}

.price {
  margin: 60px 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.card_list {
  
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 28%;
  justify-content: space-between;
  }
  .card::after {
    content: "";
    display: block;
    width: 28%;
    height: 0;
  }

.card_text {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 28%;
  padding-bottom: 20px;
}








/* news */

.section_inner_news {
  max-width: 1000px;
  flex-basis: 50%;
  padding-bottom: 140px;
  margin: 0 auto;
}

.news_date {
  width: 20%;
}


.news_title {
  width: 70%;
  margin-left: 10px;
}

.news_box {
  width: 100%;
  display: flex;
  height: 8em;
  flex-wrap: wrap;
  flex-direction: column;
}

.news_block {
  width: 45%;
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
}










/* access */

.Access {
  max-width: 1400px;
  background-color: rgba(228, 214,177, 0.3);
  z-index: 0;
  padding: 10px 80px 80px 80px;
  margin: 0 auto;
}

.section_inner_access_blocks {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  margin: auto;
  justify-content: space-between;
}

.access_icon {
  vertical-align: bottom;
  max-width: 100%;
}

.adress {
  padding: 10px;
}

.time {
  padding: 10px;
}

.adress_place {
  padding: 10px 0;
}

.access_box {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}

.hp {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}

.map {
  max-width: 100%;
  width: 40%;
}

/* footer */

footer {
  text-align: center;
  line-height: 50px;
  text-align: center;
  background-color: rgba(196,196,196, 0.3);
  font-family: 'Times New Roman', Times, serif;
}




/* page_top */


#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #C4C4C4;
  opacity: 0.6;
  border-radius: 50%;
  margin: 20px;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0d8';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 17px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.card_list_for_sp , .menu_lists_for_sp, .tap{
  display: none;
}





/* responsive */

@media screen and (max-width: 1120px) {





.fv {
  width: 100%;
  height: 193px;
  margin: 0 auto;
  background-image: url(../FirstView_sp.png);
}

.fv_wrapper {
  width: 100%;
  padding: none;
}

.fv_sentence {
  width: 100%;
  box-sizing: border-box;
  padding: 4vw 0;
  font-size: 4vw;
  margin: 0 auto;
 }


.header {
  margin: 0 auto;
  display: flex;
}

.header_left {
  display: inline;
  margin: 20px 0 20px 17px;
}

.header_right {
  width: 100%;
  display: none;
}

.btn_trigger {
  display: block;
  width: 39px;
  height: 39px;
  background-color: #F7F3E8;
  position: relative;
  z-index: 3;
  margin-right: 5%;
}

.bar{
  width: 20px;
  height: 1px;
  background-color: #BFBFBF;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bar_top{
  top: 10px;
}
.bar_mid{
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 10px;
}

.btn_trigger.close .bar_top{
  transform: translate(-50%,10px) rotate(45deg);
  transition: transform .3s;
}
.btn_trigger.close .bar_mid{
  opacity: 0;
  transition: opacity .3s;
}
.btn_trigger.close .bar_bottom{
  transform: translate(-50%,-9px) rotate(-45deg);
  transition: transform .3s;
}

.nav_wrapper_for_sp{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.header_nav_for_sp{
  width: 100%;
  height: 100%;
  background-color:  rgba(255,255,255,.96);
  z-index: 2;
}
.header_nav_for_sp .nav_list_for_sp{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.header_nav_for_sp .nav_item_for_sp{
  margin-right: 0;
  margin-bottom: 40px;
}

body.noscroll{
  overflow: hidden;
}

.nav_item_for_sp: :last-of-type{
  margin-right: 0;
}

.nav_list_for_sp{
  display: block;
}

.about_jelato ,.story_Italy{
  flex-direction: column;
}

.section_wrapper {
  width: 90%;
  padding-bottom: 80px;
}

.img_about_gelato ,.img_about_Italy{
  width: 100%;
}

.section_subtitle {
  padding: 20px 0;
}

.flavor_title_for_sp_yuzu ,.flavor_title_for_sp_apple, .flavor_title_for_sp_caramel, .flavor_title_for_sp_chocolate, .flavor_title_for_sp_vanilla, .flavor_title_for_sp_mango, .flavor_title_for_sp_strawberry, .flavor_title_for_sp_pista{
  display: block;
  width: 70%;
}

.section_inner ,.section_inner_Italy{
  padding: 0;
}
.section_subtitle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* card_for_sp */

.menu_lists_for_sp {
  width: 100%;
  flex-basis: 50%;
  flex-direction: column;
  max-height: 280px;
  padding-bottom: 140px;
  margin: 0 auto;
}

.yuzu_sp {
  width: 70%;
}

.close{
  text-align: right;
}

.menu_for_sp {
  width: 100%;
  flex-basis: 50%;
  padding-bottom: 140px;
  margin: 0 auto;
}

.menu_lists_for_sp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.flavor_for_sp_yuzu ,.flavor_for_sp_apple ,.flavor_for_sp_caramel ,.flavor_for_sp_chocolate ,.flavor_for_sp_vanilla ,.flavor_for_sp_mango ,.flavor_for_sp_strawberry ,.flavor_for_sp_pista{
  width: 45%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.flavor_title_for_sp {
  width: 70%;
  font-size: 1.6rem;
}

.circle_yuzu {
  width: 20%;
  color: #EBE2B8;
}

.circle_apple {
  width: 20%;
  color: #FAE6B7;
}

.circle_caramel {
  width: 20%;
  color: #C99C66;
}

.circle_chocolate {
  width: 20%;
  color: #773717;
}

.circle_vanilla {
  width: 20%;
  color: #F1DDA6;
}

.circle_mango {
  width: 20%;
  color: #FDDB50;
}


.circle_strawberry {
  width: 20%;
  color: #F23C61;
}

.circle_pista {
  width: 20%;
  color: #E4D439;
}

.price {
  margin: 60px 0 40px 0;
}

.tap {
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.card_item{
  display: none;
}

.sp_none {
  list-style: none;
  display: none;
}

.img_menu {
  display: inline-block;
}

.card_item_for_sp {
  list-style: none;
}

.card_title_for_sp {
  padding: 20px 0;
  font-family: Noto serif JP;
}

.card_list {
  
}

.card {
  justify-content: space-between;
  }
  .card::after {
    content: "";
    display: block;
    height: 0;
  }

.card_text_for_sp {
  display: block;
  padding-bottom: 20px;
}

.menu {
  width: 90%;
  padding: 10px 5%;
}

.section_inner_menu {
  width: 100%;
}

.news {
  width: 90%;
  padding: 10px 5%;
}

.news_block {
  width: 100%;
  padding-bottom: 20px;
}

.news_title {
  padding-left: 10px;
}

.section_inner_news {
  width: 100%;
}

.news_box {
  width: 100%;
  display: inline-block;
}

.Access {
  width: 90%;
  padding: 10px 5%;
}

.section_inner_access_blocks {
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.access_box {
  text-align: center;
}

.a ,.access_icon{
  display: none;
}

#page_top , #page_top a ,#page_top a::before{
  display: none;
}

.access_box {
  justify-content: center;
}

.adress {
  position: relative;
}

.adress::before{
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-image: url(../電話の受話器のアイコン素材.svg);
  background-position: center;
  background-size: cover;
  content: "";
  vertical-align: center;
  left: -15px;
  top: 10px;
}


.time {
  position: relative;
}

.time::before{
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-image: url(../時計の無料アイコン.svg);
  background-position: center;
  background-size: cover;
  content: "";
  vertical-align: center;
  left: -16px;
  top: 8px;
}



.hp::before{
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-image: url(../家の無料アイコン.svg);
  background-position: center;
  background-size: cover;
  content: "";
  vertical-align: center;
  left: -28px;
  top: 0;
}

.hp {
  padding: 0;
  position: relative;
}

.map {
  width: 90%;
  justify-content: center;
  padding: 20px;
}

}
